* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #ff6bc0, #ffda5d);
  font-family: "Open Sans", sans-serif;
}

.navbar {
  width: 100%;
  top: 0;
  gap: 1rem;
  background-color: white;
  position: fixed;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 50px;
  z-index: 4;
}

.navbar-toggler {
  cursor: pointer;
  display: block;
  padding: 0.25rem 0;
}

.navbar-toggler > span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: rgb(9, 9, 9);
  transition: all 0.3s ease;
}

.navbar-toggler {
  flex-basis: 10%;
}

.navbar-toggler.active-nav > span:first-of-type {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-toggler.active-nav span:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active-nav span:last-of-type {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar.active .nav-links {
  left: 0;
  right: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.nav-links {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: fixed;
  top: 44px;
  left: -200vw;
  overflow-x: hidden;
  bottom: 0;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.header {
  position: relative;
  top: 24px;
}

.header > img {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 25%;
}

.header-content {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 10vw;
  width: calc(100% - 20vw);
  max-width: 630px;
  background-color: hwb(0 49% 1% / 0.48);
  color: rgba(255, 255, 255, 0.899);
  padding: 1rem;
}

.header-content > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.header-content > p {
  font-size: 1rem;
  line-height: 1.5;
}

.border {
  background-color: #e6e6e6;
  height: 12px;
}

.product-div {
  text-align: center;
  padding: 4rem;
}

.product-div > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 1rem 0;
}

.product-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.item {
  flex-basis: 300px;
  margin: 0.5rem auto;
  padding: 1.5rem;
  background-color: white;
  text-align: center;
  border-radius: 0 4.5rem 0 4.5rem;
}

.item > img {
  width: 252px;
  height: 252px;
  object-fit: cover;
  display: block;
  border-radius: 0 3rem 0 0;
}
h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 800;
}
.item > p {
  font-size: 1rem;
  line-height: 1.5;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0.593);
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 4rem;
  text-align: center;
  margin: 4rem auto;
  border-radius: 5rem;
}

@media (min-width: 768px) {
  .header > img {
    height: 98vh;
  }
  .header-content {
    left: 5rem;
    padding: 2rem 8rem 2rem 2rem;
  }

  .header-content > h1 {
    font-size: 3.8rem;
  }
  .header-content > p {
    font-size: 1.1rem;
  }
  .product-div {
    padding: 0;
  }

  .product-div > h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }
  .product-section {
    padding: 1rem;
  }

  .item {
    margin: 1.5;
  }
  h3 {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
    margin: 4.5rem auto;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-toggler {
    visibility: hidden;
  }

  .navbar {
    justify-content: center;
  }

  .nav-links {
    flex-basis: calc(80% - 2rem);
    flex-direction: row;
    position: static;
    overflow-x: visible;
    padding: 1;
  }
}
